/* assets/jdscreen.css */
.custom-dropdown {
    border-radius: 5px;
}

.form-title {
    text-align: center;
    color: #a01441;
}

#form-container {
    background-image: url('path/to/your/background.jpg');
    background-size: cover;
}

label {
    font-weight: bold;
}

#save-btn, #reset-btn {
    margin-top: 10px;
}

#screening-results {
    margin-top: 20px;
}
