/* Prefix all styles with #jd-table-container to scope them */
#jd-table-container #jd-table-business-unit-dropdown {
    font-size: 16px;
    padding: 8px;
}

#jd-table-container #jd-table {
    margin-top: 20px;
    text-align: center;
}

#jd-table-container #jd-table th,
#jd-table-container #jd-table td {
    padding: 10px;
}

#jd-table-container #jd-table-previous-page,
#jd-table-container #jd-table-next-page {
    font-size: 14px;
    margin: 5px;
}

#jd-table-container #jd-table-page-number {
    font-size: 16px;
}
